<div class="banner">
  <app-navbar></app-navbar>
  <div class="cards">
    <div class="card" style="width: 18rem" routerLink="/inventory-add">
      <img src="/inventory02.webp" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4>Add Product</h4>
      </div>
    </div>

    <div
      class="card"
      style="width: 18rem"
      routerLink="/inventory-view">
      <img src="/inventory03.webp" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4>View Product</h4>
      </div>
    </div>

    <div
      class="card"
      style="width: 18rem"
      routerLink="/inventory-manage">
      <img src="/inventory04.webp" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4>Manage Product</h4>
      </div>
    </div>
  </div>
</div>
