<div class="banner">
  <app-navbar></app-navbar>
  <div class="cards">
    <div class="card" style="width: 18rem" routerLink="/employee-add">
      <img src="/employee01.avif" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4>Add Employee</h4>
      </div>
    </div>

    <div class="card" style="width: 18rem" routerLink="/employee-view">
      <img src="/employee02.webp" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4>View Employee</h4>
      </div>
    </div>

    <div class="card" style="width: 18rem" routerLink="/employee-manage">
      <img src="/employee03.webp" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4>Manage Employee</h4>
      </div>
    </div>
  </div>
</div>
