<div class="banner">
  <app-navbar></app-navbar>
  <div class="cards">
    <div class="card" style="width: 18rem" routerLink="/tailoring-order-add">
      <img src="/tailor03.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4>Add Tailoring Order</h4>
      </div>
    </div>

    <div
      class="card"
      style="width: 18rem"
      routerLink="/tailoring-order-view">
      <img src="/tailor04.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4>View Tailoring Order</h4>
      </div>
    </div>

    <div
      class="card"
      style="width: 18rem"
      routerLink="/tailoring-order-manage">
      <img src="/tailoring01.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4>Manage Tailoring Order</h4>
      </div>
    </div>
  </div>
</div>
