<div class="banner">
  <app-navbar></app-navbar>
  <div class="cards">
    <div class="card" style="width: 18rem" routerLink="/ready-made-order-add">
      <img src="/agent.jpeg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4>Place Order</h4>
      </div>
    </div>

    <div
      class="card"
      style="width: 18rem"
      routerLink="/ready-made-order-manage">
      <img src="/admin.webp" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4>Manage Order</h4>
      </div>
    </div>
  </div>
</div>
