<div class="banner">
  <app-navbar></app-navbar>
  <div class="cards">

    <div class="card" style="width: 18rem" routerLink="/customer">
      <img src="/customer01.avif" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4>Customer Management</h4>
      </div>
    </div>

    <div class="card" style="width: 18rem" routerLink="/employee">
      <img src="/employee04.webp" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4>Employee Management</h4>
      </div>
    </div>
  </div>
</div>
