<div class="banner">
  <app-navbar></app-navbar>
  <div class="cards">
    <div class="card" style="width: 18rem" routerLink="/user-account-add">
      <img src="/user01.webp" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4>Add User</h4>
      </div>
    </div>

    <div
      class="card"
      style="width: 18rem"
      routerLink="/user-account-view">
      <img src="/user03.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4>View User</h4>
      </div>
    </div>

    <div
      class="card"
      style="width: 18rem"
      routerLink="/user-account-manage">
      <img src="/user04.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4>Manage User</h4>
      </div>
    </div>
  </div>
</div>
