<div class="banner">
  <app-navbar></app-navbar>
  <div class="cards">
    <div class="card" style="width: 18rem" routerLink="/ready-made-order">
      <img src="/order02.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4>Ready-Made Order Management</h4>
      </div>
    </div>

    <div class="card" style="width: 18rem" routerLink="/inventory">
      <img src="/inventory01.webp" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4>Inventory Management</h4>
      </div>
    </div>

    <div class="card" style="width: 18rem" routerLink="/customer">
      <img src="/customer01.avif" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4>Customer Management</h4>
      </div>
    </div>

    <div class="card" style="width: 18rem" routerLink="/employee">
      <img src="/employee04.webp" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4>Employee Management</h4>
      </div>
    </div>

    <div class="card" style="width: 18rem" routerLink="/tailoring-order">
      <img src="/tailor02.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4>Tailoring Order Management</h4>
      </div>
    </div>

    <div class="card" style="width: 18rem" routerLink="/user-account">
      <img src="/user02.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4>User Account Management</h4>
      </div>
    </div>
  </div>
</div>
