<div class="banner">
  <app-navbar></app-navbar>
  <div class="cards">
    <div class="card" style="width: 18rem" routerLink="/ready-made-order">
      <img src="/admin.webp" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4>Ready-Made Order Management</h4>
      </div>
    </div>

    <div class="card" style="width: 18rem" routerLink="/client">
      <img src="/client.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4>Client Management</h4>
      </div>
    </div>

    <div class="card" style="width: 18rem" routerLink="/appointment">
      <img src="/appointment3.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4>Appointment</h4>
      </div>
    </div>

    <div class="card" style="width: 18rem" routerLink="/user">
      <img src="/user2.jpeg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4>User Management</h4>
      </div>
    </div>

    <div class="card" style="width: 18rem" routerLink="/review">
      <img src="/review.jpeg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4>Review and Rating</h4>
      </div>
    </div>
  </div>
</div>
