<div class="banner">
  <app-navbar></app-navbar>
  <div class="cards">
    <div class="card" style="width: 18rem" routerLink="/ready-made-order">
      <img src="/order02.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4>Ready-Made Order Management</h4>
      </div>
    </div>

    <div class="card" style="width: 18rem" routerLink="/client">
      <img src="/client.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4>Client Management</h4>
      </div>
    </div>

    <div class="card" style="width: 18rem" routerLink="/appointment">
      <img src="/appointment3.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4>Appointment</h4>
      </div>
    </div>

    <div class="card" style="width: 18rem" routerLink="/user-account">
      <img src="/userass04.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4>User Acc Management</h4>
      </div>
    </div>
  </div>
</div>
