<div class="banner">
  <app-navbar></app-navbar>
  <div class="cards">
    <div class="card" style="width: 18rem" routerLink="/customer-add">
      <img src="/customer04.webp" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4>Add Customer</h4>
      </div>
    </div>

    <div
      class="card"
      style="width: 18rem"
      routerLink="/customer-view">
      <img src="/customer03.webp" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4>View Customer</h4>
      </div>
    </div>

    <div
      class="card"
      style="width: 18rem"
      routerLink="/customer-manage">
      <img src="/customer02.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4>Manage Customer</h4>
      </div>
    </div>
  </div>
</div>
